.font-heavy {
    font-size: 1rem;
    font-weight: 700;
}

a {
    @apply text-green;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

#content {
    margin-left: 2.5rem/* 40px */;
    margin-right: 2.5rem/* 40px */;
    padding-top: 5rem/* 80px */;
    overflow: hidden;
}